sudo: required

language: python
python:
  - "3.4"
  - "3.5"

services:
  - docker

install:
  - sudo pip install docker-compose

script:
  - ls -lah
  - docker-compose up -d shell
  - wait 5
  - docker-compose exec shell bash -c "py.test"
