version: "2"
services:
  db:
    restart: always
    image: postgres:9.4
    container_name: exchange_rates_postgres
    hostname: db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
  rabbit:
    restart: always
    hostname: rabbit
    container_name: exchange_rates_rabbit
    image: rabbitmq:3.6-management
    environment:
      - RABBITMQ_DEFAULT_USER=exchange
      - RABBITMQ_DEFAULT_PASS=Zasada123456789
    ports:
      - "5672"
      - "15672"
  web:
    restart: always
    build: .
    container_name: exchange_rates_web
    hostname: web
    command: ./run_web.sh
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    links:
      - db:db
      - rabbit:rabbit
  worker:
    build: .
    restart: always
    container_name: exchange_rates_worker
    command: ./run_celery.sh
    volumes:
      - .:/app
    links:
      - db:db
      - rabbit:rabbit
  shell:
    build: .
    restart: always
    container_name: exchange_rates_shell
    command: tail -f /dev/null
    volumes:
      - .:/app
    links:
      - db:db
      - rabbit:rabbit
  tests:
    build: .
    container_name: exchange_rates_tests
    command: py.test
    volumes:
      - .:/app
    links:
      - db:db
  nginx:
    build: ./nginx/
    restart: always
    container_name: exchange_rates_nginx
    ports:
      - "80:80"
    volumes:
      - .:/app
    links:
      - web:web
