version: "2"
services:
  db:
    restart: always
    image: postgres:9.5
    container_name: exchange_rates_postgres
    hostname: db
  rabbit:
    restart: always
    hostname: rabbit
    container_name: exchange_rates_rabbit
    image: rabbitmq:3.6-management
    ports:
      - "5672"
      - "15672"
  web:
    restart: always
    build:
      context: ../
      dockerfile: ./docker/Dockerfile
    container_name: exchange_rates_web
    hostname: web
    command: ./docker/run_web.sh
    env_file:
      - ./local.env
    volumes:
      - ..:/app
    expose:
      - "8000"
    links:
      - db
      - rabbit
      - nginx
  worker_rates:
    build:
      context: ../
      dockerfile: ./docker/Dockerfile
    restart: always
    container_name: exchange_rates_worker_rates
    command: ./docker/run_rates_worker.sh
    env_file:
      - ./local.env
    volumes:
      - ..:/app
    links:
      - db
      - rabbit
  worker_notifications:
    build:
      context: ../
      dockerfile: ./docker/Dockerfile
    env_file:
      - ./local.env
    restart: always
    container_name: exchange_rates_worker_notifiactions
    command: ./docker/run_notifications_worker.sh
    volumes:
      - ..:/app
    links:
      - db
      - rabbit
  shell:
    build:
      context: ../
      dockerfile: ./docker/Dockerfile
    env_file:
      - ./local.env
    restart: always
    container_name: exchange_rates_shell
    command: tail -f /dev/null
    volumes:
      - ..:/app
    links:
      - db
      - rabbit
  nginx:
    restart: always
    build: ./nginx/
    ports:
      - "80:80"
    volumes:
      - ..:/app
